<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanitizerbracelet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofff"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Customer_Service"
            android:label="@string/title_activity_customer__service"></activity>
        <activity
            android:name=".Battery"
            android:label="@string/title_activity_battery" />
        <activity android:name=".Notification" />
        <activity
            android:name=".Time"
            android:label="@string/title_activity_time" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>